body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
}

#onboarding {
    margin-top: 100px;
}

#contract {
    margin-top: 50px;
}

#createContractButton {
    width: 130px;
    height: 35px;
    border: 1px solid #8d8989;
    border-radius: 15px;
    font-size: 15px;
}

#output{
    color:#ffffff;
}

#web3Test{
    margin-top: 100px;
    width: 500px;
    border: solid;
    border-width: 5px;
    border-color: #ffffff;
}

h1 {
    font-size: 50px;
	font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 20px;
	font-weight: 600;
    color: #ffffff;
}